In [105]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [106]:
df=pd.read_csv("cust_satisfaction.csv")

In [107]:
df.head()

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0

In [108]:
df.describe().sum()

Age                           104168.494670
Flight Distance               114104.595656
Inflight entertainment        103923.691148
Baggage handling              103926.812737
Cleanliness                   103922.598624
Departure Delay in Minutes    105561.046519
Arrival Delay in Minutes      105244.877360
dtype: float64

In [109]:
df.isnull().sum()

Gender                          0
Customer Type                   0
Type of Travel                  0
Class                           0
satisfaction                    0
Age                             0
Flight Distance                 0
Inflight entertainment          0
Baggage handling                0
Cleanliness                     0
Departure Delay in Minutes      0
Arrival Delay in Minutes      310
dtype: int64

In [110]:
df.dropna(inplace=True)

In [111]:
df.isnull().sum()

Gender                        0
Customer Type                 0
Type of Travel                0
Class                         0
satisfaction                  0
Age                           0
Flight Distance               0
Inflight entertainment        0
Baggage handling              0
Cleanliness                   0
Departure Delay in Minutes    0
Arrival Delay in Minutes      0
dtype: int64

In [112]:
df.duplicated().sum()

172

In [113]:
df.drop_duplicates(inplace=True)

In [114]:
df.duplicated().sum()

0

In [115]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,Male,Loyal Customer,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [116]:
df["Baggage handling"].unique()

array([4, 3, 5, 1, 2], dtype=int64)

In [117]:
df["Type of Travel"].unique()

array(['Personal Travel', 'Business travel'], dtype=object)

In [118]:
df["Gender"].unique()

array(['Male', 'Female'], dtype=object)

In [119]:
df["Customer Type"].unique()

array(['Loyal Customer', 'disloyal Customer'], dtype=object)

In [120]:
df["Class"].unique()

array(['Eco Plus', 'Business', 'Eco'], dtype=object)

In [121]:
dct={"Loyal Customer":1,"disloyal Customer":0}

In [122]:
df["Customer Type"]=df["Customer Type"].map(dct)

In [123]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,1,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,0,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,1,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,1,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,1,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,0,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,Male,1,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,Male,0,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,Female,0,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,Male,1,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [124]:
df["Gender"].unique()

array(['Male', 'Female'], dtype=object)

In [125]:
dct1={'Male':1, 'Female':0}

In [126]:
df["Gender"]=df["Gender"].map(dct1)

In [127]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,1,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,1,0,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,0,1,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,0,1,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,1,1,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,0,0,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,1,1,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,1,0,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,0,0,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,1,1,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [128]:
df["Type of Travel"].unique()

array(['Personal Travel', 'Business travel'], dtype=object)

In [129]:
dct2={'Personal Travel':0, 'Business travel':1}

In [130]:
df["Type of Travel"]=df["Type of Travel"].map(dct2)

In [131]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,1,0,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,1,0,1,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,0,1,1,Business,satisfied,26,1142,5,4,5,0,0.0
3,0,1,1,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,1,1,1,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,0,0,1,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,1,1,1,Business,satisfied,49,2347,5,5,4,0,0.0
103901,1,0,1,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,0,0,1,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,1,1,1,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [132]:
df["Class"].unique()

array(['Eco Plus', 'Business', 'Eco'], dtype=object)

In [133]:
dct3={'Eco Plus':1, 'Business':0, 'Eco':2}

In [134]:
df["Class"]=df["Class"].map(dct3)

In [135]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,1,0,1,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,1,0,1,0,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,0,1,1,0,satisfied,26,1142,5,4,5,0,0.0
3,0,1,1,0,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,1,1,1,0,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,0,0,1,2,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,1,1,1,0,satisfied,49,2347,5,5,4,0,0.0
103901,1,0,1,0,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,0,0,1,2,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,1,1,1,0,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [136]:
df.duplicated().sum()

0

In [137]:
df["satisfaction"].unique()

array(['neutral or dissatisfied', 'satisfied'], dtype=object)

In [138]:
dct4={'neutral or dissatisfied':2, 'satisfied':1}

In [139]:
dct4

{'neutral or dissatisfied': 2, 'satisfied': 1}

In [140]:
df["satisfaction"]=df["satisfaction"].map(dct4)

In [141]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,1,0,1,2,13,460,5,4,5,25,18.0
1,1,0,1,0,2,25,235,1,3,1,1,6.0
2,0,1,1,0,1,26,1142,5,4,5,0,0.0
3,0,1,1,0,2,25,562,2,3,2,11,9.0
4,1,1,1,0,1,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,0,0,1,2,2,23,192,2,4,2,3,0.0
103900,1,1,1,0,1,49,2347,5,5,4,0,0.0
103901,1,0,1,0,2,30,1995,4,4,4,7,14.0
103902,0,0,1,2,2,22,1000,1,1,1,0,0.0
103903,1,1,1,0,2,27,1723,1,4,1,0,0.0

In [142]:
x=df.drop("Customer Type",axis=1)
y=df["Customer Type"]

In [143]:
x

,Gender,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,0,1,2,13,460,5,4,5,25,18.0
1,1,1,0,2,25,235,1,3,1,1,6.0
2,0,1,0,1,26,1142,5,4,5,0,0.0
3,0,1,0,2,25,562,2,3,2,11,9.0
4,1,1,0,1,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
103899,0,1,2,2,23,192,2,4,2,3,0.0
103900,1,1,0,1,49,2347,5,5,4,0,0.0
103901,1,1,0,2,30,1995,4,4,4,7,14.0
103902,0,1,2,2,22,1000,1,1,1,0,0.0
103903,1,1,0,2,27,1723,1,4,1,0,0.0

In [144]:
y

0         1
1         0
2         1
3         1
4         1
         ..
103899    0
103900    1
103901    0
103902    0
103903    1
Name: Customer Type, Length: 103422, dtype: int64

In [145]:
from sklearn.model_selection import train_test_split

In [146]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [147]:
x_train

,Gender,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
71834,0,1,2,2,50,179,5,4,5,24,17.0
76517,1,0,2,2,21,1120,1,4,1,38,50.0
29502,1,1,0,1,48,3403,5,5,4,13,39.0
7185,1,1,0,2,56,1721,2,2,3,41,45.0
31081,0,1,2,1,52,933,5,5,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
6284,1,0,2,2,27,1671,4,4,4,35,49.0
55092,0,0,0,2,23,255,4,5,4,0,0.0
77137,1,1,2,2,39,761,4,3,4,0,0.0
861,0,1,0,1,24,1013,3,2,3,25,13.0
15837,1,0,2,2,53,305,4,5,4,42,36.0

In [148]:
import sklearn

In [149]:
from sklearn.ensemble import RandomForestClassifier

In [150]:
rc=RandomForestClassifier()

In [151]:
rc.fit(x_train,y_train)

RandomForestClassifier()

In [152]:
rc.score(x_train,y_train)

0.9998912215816382

In [153]:
import joblib,pickle
joblib.dump(rc,'loyal_data.lb')
model1=joblib.load("loyal_data.lb")

In [156]:
# model1=rc.predict("loyal_data.lb")